<div style="background: -webkit-linear-gradient(left, #25c481, #25b7c4);
background: linear-gradient(to right, #25c481, #25b7c4);
font-family: 'Roboto', sans-serif; height: 657px;" >
<div class="container card-header" >

<div style="background-color: #f1f2f3;height: 500px;"class="card " >
<h2 class="text-center " style="color: rgb(131, 179, 241); margin:20px; font-family: 'Times New Roman', Times, serif;">Liste Des Unité Des Stages</h2>
<p-table [value]="unitedestage" [scrollable]="true" scrollHeight="500px" >
  <ng-template pTemplate="header" >
    <tr>
      <th >Code</th>
      <th>Name</th>
      <th>Statut</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr>
      <td>{{car.code}}</td>
      <td>{{car.name}}</td>
      <td><span class="badge text-white" [ngClass]="{' bg-danger  mr-1' : car.status.trim() == 'inactif' ,  ' bg-warning ': car.status.trim() == 'en attente', 
        'bg-success ': car.status.trim() == 'actif'}">{{car.status}}</span></td>
      <td>
        <p-inputSwitch size="small" (click)="onChangeStatus($event, car)">
        </p-inputSwitch>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
</div>
</div>
